*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: #3161E0;
    width: 100%;
}

.container{
    max-width: 1500px;
    margin: 0 auto;
    padding: 10px;
}

.row{
    width: 100%;
    display: flex;
}

.contain{
    padding: 20px;
}

.contain > img{
    width: 80%;
}

.immagine > img{
    width: 100%;
}

ul{
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

li{
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    margin: 0 25px;
}

.col-25{
    background-color: #3161E0 ;
    width: 25%;
    align-items: center;
    display: flex;
}

.j-end{
    justify-content: end;
}

.col-50{
    background-color: #3161E0 ;
    width: 50%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.col-80{
    width: 60%;
    height: 300px;
    color: white;
    text-align: center;      
}
    
.col-60{
    width:60%;    
}
    
.col-40{
    width:40%;
    text-align: center;       
}
    
.col-100{
    width: 100%;
    text-align: center;
}

.col-28{
    width: calc(28%);
    flex-direction: column;
}

.col-18{
    color: white;
    width: calc(72% / 4);
}

.col-f-100{
    width: 100%;
    height: 40px;
    justify-content: space-between;
}

button{
    border-style: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 20px;
}

.m-button{
    margin: 0 10px;
}

.bg-button{
    background-color: #23272A;
    color: white;
}

.sub-button{
    background-position: center;
    width: 100%;
    text-align: center;
    margin: 40px auto;;
}

.m-buttom{
    margin-bottom: 20px;
}

.b-buttom{
    background-color: #7c93d3;
    color: white;
}

h1{
    font-size: 60px;
}

h2{
    font-size: 48px;
    margin: 20px;
}

h3{
    font-size: 30px;
}

p{
    font-size: 20px;
    margin: 20px;
}

.t-left{
    text-align: left;
}

.bg-img-main{
    background-image: url(../img/jumbo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bg-gray{
    background-color:#D3D3D3 ;
}

.margin{
    margin: 50px auto;
}

footer{
    background-color:#23272A ;
}

.sub-container{
    max-width: 1500px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.sub{
    justify-content: space-between;
}

.col-b{
    width: 60px;
    text-align: center; 
}

.sub-title{
    background-image: url(../img/stars.svg);
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
}

span > img{
    width: 45px;
    padding-left: 20px;
    margin-left: 10px;
    vertical-align: middle;
}

.padding{
    padding: 40px 0;
}

span{
    color: white;
}

.color{
    color: #7c93d3;
}

.contain> img{
    padding: 15px 0px 0px 30px;
}

.padding-img{
    padding-left: 30px;
}
