*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: #3161E0;
    width: 100%;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
}

.row{
    width: 100%;
    display: flex;
}

.contain{
    padding: 20px;
}
.immagine > img{
    width: 100%;
}

.col-25{
    background-color: #3161E0 ;
        width: 25%
}

.col-50{
    background-color: #3161E0 ;
    width: 50%;
    }

ul{
    display: flex;
    list-style-type: none;
    justify-content: center;
    padding-top: 10px;
}

li{
    justify-content: center;
    color: white;
    font-size: 15px;
    margin: 0 25px;
}

button{
    border-style: none;
    border-radius: 20px;
    padding: 10px 20px;
}
.bg-button{
    background-color: #23272A;
    color: white;
}
.m-button{
    margin: 0 10px;
}

.t-end{
   text-align: end;
}
h2{
    font-size: 35px;
    text-align: center;
    margin: 20px;
}
p{
    font-size: 18px;
    margin: 20px;
}


.bg-img-main{
    background-image: url(../img/jumbo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bg-gray{
    background-color:#D3D3D3 ;
}

.margin{
    margin: 20px auto;
}

.border{
    border: 2px dashed black;
}

.col-80{
    width: 60%;
    height: 300px;
    color: white;
    text-align: center;
    
}

.col-60{
    width:60%;
    
}

.col-40{
    width:40%;
    text-align: center;
    
}

.col-100{
    width: 100%;
}

footer{
    background-color:#23272A ;
}

.col-28{
    width: calc(28%);
    flex-direction: column;
}

.col-18{
    color: white;
    width: calc(72% / 4);
    
}

.col-f-100{

    width: 100%;
    height: 40px;
    justify-content: space-between;
}

.m-buttom{
    margin-bottom: 20px;
}

.sub-container{
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px 0;
}

.sub{
    justify-content: space-between;
}

.col-b{
    width: 60px;
    text-align: center; 
}
.sub-title{
    background-image: url(../img/stars.svg);
    background-position: center;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
}
.sub-button{
    background-position: center;
    width: 100%;
    text-align: center;
    margin: 20px auto;;
}
.b-buttom{
    background-color: #7c93d3;
    color: white;
}
span > img{
    width: 45px;
    padding-left: 20px;
    margin-left: 10px;
    vertical-align: middle;
}
.padding{
    padding: 40px 0;
}
span{
    color: white;
}
.color{
    color: #7c93d3;
    font-size: bold
}
.contain> img{
    padding: 15px 0px 0px 30px;

}