*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: #3161E0;
    width: 100%;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
}

.row{
    width: 100%;
    display: flex;
}

.contain{
    padding: 20px;
}

.col-25{
    background-color: #3161E0 ;
        width: 25%
}

.col-50{
    background-color: #3161E0 ;
    width: 50%;
    }

ul{
    display: flex;
    list-style-type: none;
    justify-content: center;
    padding-top: 10px;
}

li{
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 15px;
    margin: 0 15px;
}

button{
    border-style: none;
    border-radius: 20px;
    padding: 10px 20px;
}
.bg-button{
    background-color: #23272A;
    color: white;
}
.m-button{
    margin: 0 10px;
}

.t-end{
   text-align: end;
}

.bg-img-main{
    background-image: url(../img/jumbo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bg-gray{
    background-color:#D3D3D3 ;
}

.margin{
    margin: 20px auto;
}

.border{
    border: 2px dashed black;
}

.col-80{
    width: 60%;
    height: 300px;
    color: white;
    text-align: center;
    
}

.col-60{
    background-color: #1E90FF;
    width: calc(60%);
    height: 400px;
}

.col-40{
    background-color: #FFC0CB;
    width:calc(40%);
    height: 400px;
}

.col-100{
    background-color: #228B22;
    width: 100%;
    height: 700px;
}

footer{
    background-color:#23272A ;
}

.col-28{
    background-color:#F08080 ;
    height: 500px;
    width: calc(28%);
}

.col-18{
    background-color: #20B2AA;
    height: 500px;
    width: calc(72% / 4);
    border: 2px dashed white;
}

.col-f-100{
    background-color:#7FFFD4 ;
    width: 100%;
    height: 40px;
    justify-content: space-between;
}

.m-buttom{
    margin-bottom: 20px;
}

.sub-container{
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px 0;
}

.sub{
    justify-content: space-between;
}

.col-b{
    background-color:#FFB6C1 ; 
    width: 60px;
    text-align: center; 
}
